<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>

    
    <add key="localConnectionString" value="Data Source=(localdb)\v11.0;Initial Catalog=demo;Integrated Security=True" />
    <!--<add key="azureConnectionString" value="Server=tcp:yh5awgyd9l.database.windows.net,1433;Database=demo;User ID=apl-dev-admin@yh5awgyd9l;Password=M3rC@dos;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
    <!--<add key="localConnectionString" value="Data Source=APLVM01\SQL2014;Initial Catalog=APLPXV4;Integrated Security=False;User ID=dennis15;Password=M3rC@do;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />-->
    <!--<add key="localConnectionString" value="server=192.168.99.100;user id=postgres;password=;database=demo" />-->


    <add key="Environment" value="TEST" />
    <add key="sharedKey" value="72B9ED08-5D12-48FD-9CF7-56A3CA30E660" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>